<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <h1>Sign in</h1>
  </div>
</div>
<%= form_for(:session, url: sessions_path) do |f| %>
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <%= f.label :email, class: "fill-width" %>
      <%= f.text_field :email, class: "fill-width" %>

      <%= f.label :password, class: "fill-width" %>
      <%= f.password_field :password, class: "fill-width" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-offset-3">
      <%= f.submit "Sign in", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
