<%= form_for(@meetup) do |f| %>

  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <%= render 'shared/error_message', object: f.object %>

      <%= f.label :title, class: "fill-width" %>
      <%= f.text_field :title, class: "fill-width" %>

      <%= f.label :short_description, class: "fill-width" %>
      <%= f.text_field :short_description, class: "fill-width" %>

      <%= f.label :description, class: "fill-width" %>
      <%= f.text_area :description, class: "fill-width" %>

      <%= f.label :start_date, class: "fill-width" %>
      <%= f.datetime_select :start_date, class: "fill-width" %>

      <%= f.label :end_date, class: "fill-width" %>
      <%= f.datetime_select :end_date, class: "fill-width" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-offset-2">
      <%= f.submit button_label, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
