<div class="row">
  <div class="col-lg-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= link_to meetup.title, meetup %></dd>

      <dt>Description</dt>
      <dd><%= meetup.description %></dd>

      <dt>Format</dt>
      <dd><%= meetup.format %></dd>
      
      <dt>Date</dt>
      <dd><%= meetup.date %></dd>

      <dt>Start</dt>
      <dd><%= meetup.start_time %></dd>

      <dt>End</dt>
      <dd><%= meetup.end_time %></dd>

      <!-- TODO: show link only for currenet_user -->
      <dd><%= link_to "delete", meetup, method: :delete, data: { confirm: "You sure?" } %></dd>
    </dl>
  </div>
</div>
