<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <div class="col-lg-5">
       <%= f.submit button_label, class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
