
<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <%= f.label :name, class: "fill-width" %>
      <%= f.text_field :name, class: "fill-width" %>

      <%= f.label :email, class: "fill-width" %>
      <%= f.text_field :email, class: "fill-width" %>

      <%= f.label :password, class: "fill-width" %>
      <%= f.password_field :password, class: "fill-width" %>

      <%= f.label :password_confirmation, "Confirmation", class: "fill-width" %>
      <%= f.password_field :password_confirmation, class: "fill-width" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-offset-3">
      <%= f.submit button_label, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
